.social-media-links a {
    border: solid 1px #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: #000;
}

.social-media-links a i {
    color: #fff;
}